@import "tailwindcss";
html, body, #app {
  height: 100%;
  width: 100%;
  zoom: 1;
  transform: none;
  transform-origin: 0 0;
}

.va-layout,
.va-layout__wrapper,
.va-layout__area {
  transform: none !important;
}
.no-motion *, .no-motion *::before, .no-motion *::after {
  transition: none !important;
  animation: none !important;
}